:root {
    --maze-size: 3;
}

#outline {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(var(--maze-size), 40px);
    grid-template-rows: repeat(var(--maze-size), 40px);
    margin: 60px auto;
    column-gap: 0;
    row-gap: 0;
}

.cell {

    margin: 0;
    background-color: black;
    border: solid #3e4f3f 1px;
}

.entrance {
    background-color: #e0bf5b;
}

.exit {
    background-color: #23af23;
}

.top {
    border-top: #23af23 solid 2px;
}

.right {
    border-right: #23af23 solid 2px;
}

.bottom {
    border-bottom: #23af23 solid 2px;
}

.left {
    border-left: #23af23 solid 2px;
}




