:root {
    --maze-size: 3;
}

#outline {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(var(--maze-size), 36px);
    grid-template-rows: repeat(var(--maze-size), 36px);
    margin: 60px auto;
    column-gap: 0;
    row-gap: 0;
}

.cell {
    color: deeppink;
    margin: 0;
    background-color: black;
    border: solid #2e3a2e 1px;
}

.entrance {
    background-color: yellow;
}

.exit {
    background-color: #76ff76;
}

.top {
    border-top: #0c830c solid 3px;
}

.right {
    border-right: #0c830c solid 3px;
}

.bottom {
    border-bottom: #0c830c solid 3px;
}

.left {
    border-left: #0c830c solid 3px;
}




